figure[data-block='true']
  text-align: center
.custom-media
  position: relative
  text-align: center
  display: inline-block
  max-width: 110%
  min-width: 50%
  min-height: 100px
  border: 1px solid #ccc
  overflow: hidden
  &.isFocus
    box-shadow: 0 0 10px 2px #999
  video
    width: 100%
    padding-bottom: 20px
.media-info
.media-modify
  position: absolute
  bottom: 0
  left: 0
  width: 100%

.media-info
  cursor: pointer
  .url
  .type
    float: left
    margin: 0 -7px -2px
    padding: 3px 11px
    line-height: 18px
    font-size: 14px
    background: #444
    color: #bbb
    text-shadow: 1px 1px 2px #000
    transform: skew(20deg)
    border-radius: 5px
    em
      display: block
      transform: skew(-20deg)
  .url
    float: right
    transform: skew(-20deg)
    em
      transform: skew(20deg)

.media-modify
  select
    width: 20%
    height: 22px
    line-height: @height
    margin-left: -2px
    border: none
    background: #000
    color: #fff
  input
    width: 70%
    height: 22px
    line-height: @height
    margin-left: -1px
    border: none
    background: #000
    color: #fff
    text-indent: 5px
  button
    position: relative
    top: 1px
    width: 10%
    height: 22px
    line-height: @height
    font-size: 14px
    border: none
    color: #fff
    background: #333
